In [1]:
import requests
import zipfile
import os
import glob
import pandas as pd

In [2]:
os.getcwd()

'/Users/ilhamrizaldi/Repos/github/ASEAN-emission-tracker'

In [5]:
path = '/Users/ilhamrizaldi/Documents/Portofolio/ASEAN-emission-tracker'

In [6]:
AMS_list =['BRN','KHM','IDN','LAO','MMR','MYS','PHL','SGP','THA','VNM']

df_emission_sources_all = pd.DataFrame()

for ams in AMS_list:
    paths = os.path.join(path,ams,"DATA")
    sectors = [f for f in os.listdir(paths) if os.path.isdir(os.path.join(paths,f))]

    for sector in sectors:
        file_list = glob.glob(os.path.join(paths,sector) + "/*sources.csv")

        for file in file_list:
            df = pd.read_csv(file)
            df_emission_sources_all = pd.concat([df_emission_sources_all,df])

/var/folders/g9/8dl_m7ms2gd5gm2zghqh2rl00000gn/T/ipykernel_4828/201956746.py:13: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
/var/folders/g9/8dl_m7ms2gd5gm2zghqh2rl00000gn/T/ipykernel_4828/201956746.py:13: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
/var/folders/g9/8dl_m7ms2gd5gm2zghqh2rl00000gn/T/ipykernel_4828/201956746.py:13: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
/var/folders/g9/8dl_m7ms2gd5gm2zghqh2rl00000gn/T/ipykernel_4828/201956746.py:13: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
/var/folders/g9/8dl_m7ms2gd5gm2zghqh2rl00000gn/T/ipykernel_4828/201956746.py:13: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

In [7]:
df_emission_sources_all.head()

,source_id,source_name,source_type,iso3_country,sector,subsector,start_time,end_time,lat,lon,...,other7,other7_def,other8,other8_def,other9,other9_def,other10,other10_def,created_date,modified_date
0,21459673,Amo,NaN,BRN,agriculture,rice-cultivation,2022-01-01 00:00:00,2022-12-31 00:00:00,4.483497,115.223388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-19 00:00:00,2023-11-15 21:08:09.181028
1,21459673,Amo,NaN,BRN,agriculture,rice-cultivation,2022-01-01 00:00:00,2022-12-31 00:00:00,4.483497,115.223388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-19 00:00:00,2023-11-15 21:08:09.181028
2,21459673,Amo,NaN,BRN,agriculture,rice-cultivation,2022-01-01 00:00:00,2022-12-31 00:00:00,4.483497,115.223388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-19 00:00:00,2023-11-15 21:08:09.181028
3,21459673,Amo,NaN,BRN,agriculture,rice-cultivation,2022-01-01 00:00:00,2022-12-31 00:00:00,4.483497,115.223388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-19 00:00:00,2023-11-15 21:08:09.181028
4,21459673,Amo,NaN,BRN,agriculture,rice-cultivation,2022-01-01 00:00:00,2022-12-31 00:00:00,4.483497,115.223388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-10-19 00:00:00,2023-11-15 21:08:09.181028

In [8]:
df_emission_sources_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3665480 entries, 0 to 439
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   source_id               int64
 1   source_name             object
 2   source_type             object
 3   iso3_country            object
 4   sector                  object
 5   subsector               object
 6   start_time              object
 7   end_time                object
 8   lat                     float64
 9   lon                     float64
 10  geometry_ref            object
 11  gas                     object
 12  emissions_quantity      float64
 13  temporal_granularity    object
 14  activity                float64
 15  activity_units          object
 16  emissions_factor        float64
 17  emissions_factor_units  object
 18  capacity                float64
 19  capacity_units          object
 20  capacity_factor         float64
 21  other1                  object
 22  other1_def              object
 23  other2                  object
 24  other2_def              object
 25  other3                  object
 26  other3_def              object
 27  other4                  object
 28  other4_def              object
 29  other5                  object
 30  other5_def              object
 31  other6                  object
 32  other6_def              object
 33  other7                  float64
 34  other7_def              object
 35  other8                  float64
 36  other8_def              object
 37  other9                  float64
 38  other9_def              object
 39  other10                 float64
 40  other10_def             object
 41  created_date            object
 42  modified_date           object
dtypes: float64(11), int64(1), object(31)
memory usage: 1.2+ GB

In [9]:
df = df_emission_sources_all.dropna(subset=["emissions_quantity"])

In [10]:
df["end_time"] = pd.to_datetime(df["end_time"])

/var/folders/g9/8dl_m7ms2gd5gm2zghqh2rl00000gn/T/ipykernel_4828/2072157830.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["end_time"] = pd.to_datetime(df["end_time"])

In [11]:
df["Year"] = df["end_time"].dt.year

/var/folders/g9/8dl_m7ms2gd5gm2zghqh2rl00000gn/T/ipykernel_4828/2892718314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = df["end_time"].dt.year

In [12]:
df= df[["iso3_country","sector","subsector","lat","lon","emissions_quantity","gas","Year"]]

In [13]:
df = df[(df["emissions_quantity"]>0) & df["gas"].isin(["ch4","co2","n20"])]

In [14]:
df.head()

,iso3_country,sector,subsector,lat,lon,emissions_quantity,gas,Year
20,BRN,agriculture,rice-cultivation,4.528158,114.756085,1.315231e+00,ch4,2022
25,BRN,agriculture,rice-cultivation,4.905950,114.914521,1.023065e+00,ch4,2022
35,BRN,agriculture,rice-cultivation,4.844315,114.754207,6.600000e-15,ch4,2022
45,BRN,agriculture,rice-cultivation,4.751573,114.750949,2.550666e-01,ch4,2022
60,BRN,agriculture,rice-cultivation,4.798107,115.164642,3.616238e-02,ch4,2022

In [15]:
df.to_csv("df_asean_emission_sources.csv")

In [16]:
df_emission_sources_all[df_emission_sources_all.duplicated()]

Empty DataFrame
Columns: [source_id, source_name, source_type, iso3_country, sector, subsector, start_time, end_time, lat, lon, geometry_ref, gas, emissions_quantity, temporal_granularity, activity, activity_units, emissions_factor, emissions_factor_units, capacity, capacity_units, capacity_factor, other1, other1_def, other2, other2_def, other3, other3_def, other4, other4_def, other5, other5_def, other6, other6_def, other7, other7_def, other8, other8_def, other9, other9_def, other10, other10_def, created_date, modified_date]
Index: []

[0 rows x 43 columns]

In [17]:
df.Year.unique()

array([2022, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2023, 2014],
      dtype=int32)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 600121 entries, 20 to 435
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   iso3_country        600121 non-null  object
 1   sector              600121 non-null  object
 2   subsector           600121 non-null  object
 3   lat                 599739 non-null  float64
 4   lon                 599739 non-null  float64
 5   emissions_quantity  600121 non-null  float64
 6   gas                 600121 non-null  object
 7   Year                600121 non-null  int32
dtypes: float64(3), int32(1), object(4)
memory usage: 38.9+ MB